body {
  background-color: #e7e5df;
}
select {
  margin-right: 5px;
}

#chartContainer {
  background-color: #1a535c;
}

.bars {
  fill: #02a196;
  transition: all 0.3;
}
.bars:hover {
  fill-opacity: 0.7;
}

text {
  fill: #ede6e3;
}
path,
line {
  stroke: #ede6e3;
}

a {
  text-decoration: none;
  color: #1a535c;
}

a:hover {
  color: #02a196;
}
